<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62b4c9">  <td>19/09/18 13:13:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test37CMSTutoriales.IngresoAmbiente()[pri:0, instance:test.Test37CMSTutoriales@72f8ae0c]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 13:14:01</td>   <td>8363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test37CMSTutoriales.CMSTutorialesTest()[pri:85, instance:test.Test37CMSTutoriales@72f8ae0c]">CMSTutorialesTest</td> 
  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 13:14:30</td>   <td>36706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test37CMSTutoriales@72f8ae0c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 13:14:31</td>   <td>37967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test37CMSTutoriales.CMSTutorialesCrearTest()[pri:86, instance:test.Test37CMSTutoriales@72f8ae0c]">CMSTutorialesCrearTest</td> 
  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 13:15:05</td>   <td>72410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test37CMSTutoriales@72f8ae0c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 13:15:07</td>   <td>73672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test37CMSTutoriales.CMSTutorialesEditarTest()[pri:87, instance:test.Test37CMSTutoriales@72f8ae0c]">CMSTutorialesEditarTest</td> 
  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 13:15:47</td>   <td>113766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test37CMSTutoriales@72f8ae0c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 13:15:48</td>   <td>114946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test37CMSTutoriales.CMSTutorialesEliminarTest()[pri:88, instance:test.Test37CMSTutoriales@72f8ae0c]">CMSTutorialesEliminarTest</td> 
  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 13:16:23</td>   <td>150060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test37CMSTutoriales@72f8ae0c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 13:16:24</td>   <td>151289</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.CloseChrome()[pri:0, instance:test.Test37CMSTutoriales@72f8ae0c]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@148436820</td>   <td></td> </tr>
</table>
